#admin_container {
    padding-bottom: 100%;
    background-color: white
}

.admin_sidebar {
    padding-bottom: 100%;
    background: rgb(240, 240, 240);
}

.admin_sidebar_links {
    color: black;
}

.sites_info_card_title {
    font-size: medium;
}

.sites_info_card_text {
    font-size: x-large
}