body {
    background: white;
}

#LoginCard {
    margin-top: 2rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

#LoginTitle {
    font-size: 3.5rem;
    margin-bottom:1rem;
}

#BeginningImage {
	height:32rem;
	top:50%;
	margin-top:-14rem;
	left:50%;
	margin-left:-16rem;
}

#DarkSection {
    background-color: whitesmoke;
    padding-top:4rem;
    padding-left:13.5rem;
    padding-bottom:4rem;
}

#SectionTitle {
    font-size: 3rem;
}

#SectionText {
    margin-top:1rem;
}

#FirstSectionSecondCol {
    padding-top:1rem;
    padding-left:8rem;
    padding-bottom:1rem;
}

#SectionButtons {
    padding:.80rem;
    border-radius:30px;
    padding-left:1.5rem;
    padding-right:1.5rem;
    margin-right:.5rem;
    margin-bottom:.75rem;
    opacity: .95;
}

#WhiteSection {
    padding-top:4rem;
    padding-left:13.5rem;
    padding-bottom:4rem;
}

#ThirdSectionTitle {
    font-size: 2.5rem;
}

#ThirdSectionButton {
    padding:.80rem;
    border-radius:30px;
    padding-left:1.5rem;
    padding-right:1.5rem;
    margin-top:2rem;
    margin-right:.5rem;
    margin-bottom:.75rem;
    opacity: .95;
}

#BiggerSectionText {
    margin-top:1rem;
    font-size:2rem;
}

#ConnectionImage {
		height:32rem;
		top:50%;
		margin-top:-16rem;
		left:50%;
		margin-left:-16rem;
}

#FindSection {
	background-color:antiquewhite;
	padding-top:4rem;
  padding-left:13.5rem;
  padding-bottom:4rem;
}

#DarkConnectionSection {
	background-color: whitesmoke;
	padding-top:16rem;
	padding-left:13.5rem;
	padding-bottom:16rem;
}

#WhitePathSection {
	
}

#PathCol {
	background-color: whitesmoke;
	margin-top:2rem;
	margin-bottom:2rem;
	padding-top:12rem;
	padding-left:13.5rem;
	padding-right:4rem;
	padding-bottom:4rem;
}

#PathButton {
	padding:.75rem;
}

#PathImage {
	height:50rem;
	top:50%;
	margin-top:-25rem;
	left:50%;
	margin-left:-21rem;
}

